/node_modules
# /public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode

.htaccess

/public/pdf/instructions/*
/public/pdf/posts/*
/public/videos/*
/public/img/categories/*
/public/img/simditor/posts/*
/public/img/top-products/*

/public/img/products/*
!/public/img/products/thumbs
/public/img/products/thumbs/*

/public/img/posts/*
!/public/img/posts/thumbs
/public/img/posts/thumbs/*
